.main {
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.left{
    width: 50vw;
    padding-top: 30px;
    padding-left: 230px;
    box-sizing: border-box;
}

.picLeft {
    width: 250px;
    height: 470px;
    background-image: url('/src/assets/pic3.jpg');
    background-size: cover;
    border-radius: 20px;

}

.right {
    width: 50vw;
    padding: 10px;
    box-sizing: border-box;
    background-color: #F8F8FA;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.right button{
    width: 200px;
    height: 60px;
    border-radius: 15px;
    box-shadow: 2px 2px 2px gray;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.img {
    height: 5px;
    width: 5px;
}